@font-face {
    font-family: 'forwebsite';
    src: url('Fonts/ITCAvantGardePro-Bold.otf') format('opentype');
}
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
#top{
    width: 100%;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: white;
    z-index: 2;
}
#navbar{
    width: 97%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#ham{
    background-image: url(Image/hamburger.svg);
    width: 22px;
    height: 22px;
}
#ham:hover{
    filter: brightness(0) saturate(100%) invert(53%) sepia(83%) saturate(2413%) hue-rotate(197deg) brightness(96%) contrast(103%);   
}
#logo{
    background-image: url(Image/salesforce-no-type-logo.svg);
    width: 45px;
    height: 30px;
    background-repeat: no-repeat;
}
#search{
    background-image: url(Image/search-line.svg);
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
}
#search:hover{
    filter: brightness(0) saturate(100%) invert(53%) sepia(83%) saturate(2413%) hue-rotate(197deg) brightness(96%) contrast(103%);   
}
#user{
    background-image: url(Image/user-3-fill.svg);
    width: 20px;
    height: 20px;
}
#par1:hover{
    filter: brightness(0) saturate(100%) invert(53%) sepia(83%) saturate(2413%) hue-rotate(197deg) brightness(96%) contrast(103%);   
}
#globediv{
    padding: 4px 4px;
    border-radius: 30px;
}
#globe{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Image/global-line.svg);
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}
#globediv:hover{
    background-color: #7da4c492;
    filter: brightness(0) saturate(100%) invert(53%) sepia(83%) saturate(2413%) hue-rotate(197deg) brightness(96%) contrast(103%);   
}
#Login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    border-radius: 30px;
}
#Login:hover{
    background-color: #7da4c492;
    filter: brightness(0) saturate(100%) invert(53%) sepia(83%) saturate(2413%) hue-rotate(197deg) brightness(96%) contrast(103%);   
}
#try{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E844A;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    width: 101px;
    height: 30px;
}
#try:hover{
    background-color: #122017;
}
#left{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
#right{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
#notsec{
    width: 100%;
    height: 125px;
    padding-top: 56px;
    background-color: #140075;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}
#notification{
    display: flex;
    overflow-y: hidden;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 90%;
}
#Agentforcelogo{
    background-image: url(Image/AgentForce.webp);
    height: 24px;
    width: 122px;
    background-repeat: no-repeat;
    background-size: contain;
}
#notsubhead{
    color: white;
}
#notsubheadtxt{
    padding-top: 15px ;
    padding-bottom: 15px ;
    font-family: 'forwebsite';
    font-size: 14px;
}
#discover{
    color: white;
    text-decoration: underline;
}
#discover:hover{
    text-decoration: none;
}
.toptabs{
    display: none;
}
#contact{
    display: none;
    gap: 5px;
}
#cont{
    font-size: 14px;
    color: #032D60;
    text-decoration: underline;
}
#cont:hover{
    color: #085ec8;
}
#num{
    font-size: 14px;
    color: #032D60;
}
#video{
    width: 350px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 7px;
    background-image: url(Image/video.png);
    margin-top: 35px;
}
#unitep{
    font-family: sans-serif;
    /* height: 57px; */
}
#container{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
#bg1{
    background-image: url(Image/php-marquee-starter-sm-bg.png);
    position: absolute;
    z-index: -2;
    background-repeat: no-repeat;
    width: 100vw;
    height: 600px;
    border-radius: 30px;
    background-size: cover;
}
#text1{
    gap: 20px;
    display: flex;
    flex-direction: column;
}
#buts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}
#buts2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}
#start{
    color: white;
    width: 100%;
    height: 52px;
    background-color: #0176D3;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
#watch{
    color: #0176D3;
    width: 100%;
    height: 52px;
    background-color: white;
    border-color: #0176D3;
    border-radius: 5px;
    font-weight: bold;
}
#trysales{
    font-family: 'forwebsite';
    padding-top: 70px;
    font-weight: 900;
    color: #032D60;
    font-size: 40px;
    width: 90%;
    text-align: start;
}
#unitep{
    text-align: start;
    width: 90%;
    height: 150px;
    overflow-y: hidden;
    font-size: 21px;
    color: #181818;
}
#start:hover{
    background-color: #032D60;
}
#watch:hover{
    background-color: rgba(234, 234, 234, 0.628);
    border-color: #181818;
    color: #181818;
}
#learn{
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#learntxt{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 90px;
    font-size: 30px;
    font-family: 'forwebsite';
    color: #032D60;
    padding-bottom: 20px;
}
#badges{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 20px;
}
.badge{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: start;
    width: 290px;
    height: 427px;
    margin-bottom: 7px;
    border-radius: 15px;
    box-shadow: 1px 2px 10px rgb(185, 185, 185);
}
#pic1{
    width: 100%;
    height: 171px;
    background-size: contain;
    position: relative;
    top: -13px;
    background-repeat: no-repeat;
    background-image: url(Image/pb-hp-product-smb_icon-1.png);
}
#pic2{
    width: 100%;
    height: 171px;
    background-size: contain;
    position: relative;
    top: -17px;
    background-image: url(Image/pb-hp-product-smb_icon-2.png);
    background-repeat: no-repeat;
}
#pic3{
    width: 100%;
    height: 171px;
    background-size: contain;
    position: relative;
    top: -13px;
    background-image: url(Image/pb-hp-product-smb_icon-3.png);
    background-repeat: no-repeat;
}
#pic4{
    width: 100%;
    height: 171px;
    background-size: contain;
    position: relative;
    top: -13px;
    background-image: url(Image/pb-hp-product-smb_icon-4.png);
    background-repeat: no-repeat;
}
.badgetxt{
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 80%;
}
.learnmore{
    color: #032D60;
    text-decoration: underline;
    font-weight: bold;
}
.badgehead{
    color: #032D60;
    font-size: 20px;
    font-family: 'forwebsite';
}
.badgep{
    color: #181818;
    font-size: 18px;
    position: relative;
    top: -20px;
}
#viewbutton{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#vbut{
    width: 90%;
    height: 52px;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    color: #0176D3;
    border-radius: 4px;
    border-color: #0176D3;
    border-width: 2px;
    border-style: solid;
}
#vbut:hover{
    background-color: rgba(234, 234, 234, 0.628);
    border-color: #181818;
    color: #181818;
}
#bg2{
    z-index: -10;
    width: 100vw;
    height: 150px;
    margin-top: -45px;
    background-image: url(Image/bg2.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#bringsec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#bring{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 90%;
}
#salestxt{
    width: 724px;
    text-align: center;
    color: #181818;
    font-size: 18px;
    width: 95%;
}
#follow{
    width: 728px;
    text-align: center;
    color: #181818;
    font-size: 18px;
}
#learnsec{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    overflow-y: hidden;
}
#learntxt{
    padding-top: 50px;
}
#learnval{
    padding-top: 80px;
    color: #032D60;
    font-weight: bold;
    font-family: 'forwebsite';
    font-size: 40px;
    width: 90%;
}
.module{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1EA7FD33;
    color: #032D60;
    width: 45px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 20px;
    padding: 10px;
}
#img1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Image/Values.webp);
    width: 120px;
    height: 120px;
    background-size: contain;
}
#we{
    width: 90%;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    font-family: 'forwebsite';
    color: #032D60;
}
#wep{
    font-size: 18px;
    color: #181818;
    font-family: sans-serif;
    text-align: center;
    height: 150px;
    width: 90%;
}
#img2{
    background-image: url(Image/CRM.webp);
    width: 120px;
    height: 120px;
    background-size: contain;
}
#img3{
    background-image: url(Image/SalesCloudBasics.webp);
    width: 120px;
    height: 120px;
    background-size: contain;
}
#badges2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.badge2{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 456px;
    box-shadow: 1px 2px 10px rgb(172, 172, 172);
    border-radius: 15px;
}
.badgetxt2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 90%;
}
#lff{
    width: 90%;
    height: 52px;
    font-size: 18px;
    font-weight: bold;
    color: #0176D3;
    background-color: white;
    border-color: #0176D3;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}
#lff:hover{
    color: #181818;
    border-color: #181818;
    background-color: rgba(234, 234, 234, 0.628);
}
#bg3{
    z-index: -10;
    width: 100vw;
    height: 80px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-image: url(Image/pb-hp-logos-bg-2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#imgbadge{
    display: grid;
    grid-template-columns: repeat(2, 144px);
    gap: 40px;
    justify-content: center;
    align-content: center;
    margin: 20px;
    width: 450px;
    height: 344px;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow-y: hidden;
}
#badgecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgbadge{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 144px;
    height: 104px;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 10px rgb(195, 195, 195);
    border-radius: 15px;
}
.imgbadge a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgbadge img{
    max-width: 70%;
    max-height: 70%;
}
#oversec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#overdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
#over{
    padding-top: 200px;
    font-size: 40px;
    color: #032D60;
    font-family: 'forwebsite';
    width: 90%;
    height: 140px;
    text-align: center;
    overflow: hidden;
}
.badgehead:hover{
    color: black;
}
.learnmore:hover{
    text-decoration: none;
    color: #0176D3;
}
.imgbadge:hover{
    transform: scale(1.02);
}
#trysec{
    display: flex;
    justify-content: center;
    align-items: center;
}
#trymain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    box-shadow: 1px 2px 20px rgb(210, 210, 210);
    align-items: center;
    border-radius: 15px;
    width: 100%;
    height: 843px;
    overflow-y: hidden;
}
#start2{
    border: #0176D3 solid 2px;
    background-color: #0176D3;
    width: 90%;
    height: 52px;
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 7px;
    font-size: 16px;
}
#see{
    font-size: 16px;
    border-radius: 7px;
    font-weight: bold;
    border: #0176D3 solid 2px;
    background-color: white;
    width: 90%;
    height: 52px;
    color:#0176D3;
    justify-content: center;
    align-items: center;
    display: flex;
}
#left2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
#left2 h3{
    padding-top: 30px;
    overflow-y: hidden;
    font-family: 'forwebsite';
    width: 90%;
    text-align: left;
    font-size: 35px;
    color: #032D60;
}
#right2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 553px;
    height: 50%;
    overflow-y: hidden;
}
#tffimg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Image/php-free-trial-mobile-inr2000-940w.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 510px;
    height: 471px;
}
#buts3{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 100%;
}
#start2:hover{
    background-color: #032D60;
    border-color: #032D60;
}
#see:hover{
    color: #181818;
    border-color: #181818;
    background-color: rgba(234, 234, 234, 0.628);
}
@media only screen and (min-width:1024px){
    #bg1{
        z-index: -2;
        height: 500px;
        margin-left: 310px;
        background-image: url(Image/startBG.webp);
        width: 100vw;
        background-size: contain;
    }
    .toptabs{
        display: block;
        color: #032D60;
        font-weight: bold;
    }
    .toptabs:hover{
        color: #085ec8;
    }
    #try{
        width: 135px;
        height: 44px;
        font-size: 16px;
    }
    #top{
        height: 96px;
    }
    #ham{
        display: none;
    }
    #contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    
    #container{
        flex-direction: row;
    }
    #logo{
        background-image: url(Image/salesforce-with-type-logo.svg);
        height: 48px;
        width: 68px;
    }
    #notsec{
        padding-top: 96px;
        height: 48px;
    }
    #notification{
        gap: 20px;
        flex-direction: row;
        align-items: center;
    }
    #start,#watch{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        width: 170px;
        height: 52px;
    }
    #buts{
        flex-direction: row;
        justify-content: start;
    }
    #buts2{
        padding-top: 30px;
        flex-direction: row;
        justify-content: center;
    }
    #trysales,#unitep{
        text-align: start;
    }
    #trysales{
        font-size: 48px;
        width: 80%;
    }
    #text1{
        align-items: start;
        font-size: 20px;
        width: 35%;
    }
    #unitep{
        width: 90%;
        height: 90px;
    }
    #buts{
        align-items: start;
    }
    #video{
        width: 540px;
        height: 420px;
        margin-top: 100px;
    }
    #learntxt{
        font-size: 40px;
        width: 50%;
        overflow-y: hidden;
    } 
    #badges{
        flex-direction: row;
    }
    #vbut{
        width: 240px;
    }
    #bg2{
        height: 600px;
        margin-top: -270px;
    }
    #bg3{
    height: 388px;
    margin-top: -150px;
    }
    #badges2{
        flex-direction: row;
    }
    .badge2{
        width: 384px;
    }
    #salestxt{
        width: 728px;
    }
    #over{
        width: 840px;
    }
    #lff{
        width: 195px;
    }
    #wep{
        height: 84px;
        width: 728px;
    }
    #we{
        width: 840px;
    }
    #imgbadge{
        width: 1064px;
        grid-template-columns: repeat(4, 200px);
        margin: 40px;
        height: 216px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .imgbadge{
        width: 200px;
        height: 100px;
    }
    #trymain{
        margin: 40px;
        width: 1280px;
        height: 452px;
        justify-content: space-around;
        flex-direction: row;
    }
    #buts3{
        display: flex;
        flex-direction: row;
        width: auto;
        margin-left: -120px;
        align-items: start;
        justify-content: center;
    }
    #start2,#see{
        width: 171px;
        height: 52px;
    }
    #right2{
        height: 452px;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }
    #tffimg{
        background-size: cover;
        width: 510px;
        height: 452px;
    }
    #left2{
        flex-direction: column;
    }
    #left2 h3{
        padding-bottom: 20px;
        width: 60%;
    }
}